canvas {
  display: block;
}

.rad {
  font-size: 3rem;
}

#radval {
  margin: 0 2rem;
}

.radcontrol {
  width: 3rem;
  height: 3rem;
  display: inline-block;

  font-size: 3rem;
}

#colors {

}

.swatch {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;

  display: inline-block;
  margin-left: 1.6rem;
  background-color: cyan;
}

.swatch.active {
  border: 2px solid grey;
}
