.menu-avatar {
  position: fixed;
  left: 1.6rem;
  bottom: 1.6rem;
  z-index: 10;

  text-decoration: none;

  @media (min-width: 768px) {
    display: none;
  }
}

.menu-editable {
  position: fixed;
  left: 1.6rem;
  bottom: 1.6rem;
  z-index: 10;
}

.menu-cubes {
  position: fixed;
  right: 1.6rem;
  bottom: 1.6rem;
  z-index: 10;

  @media (min-width: 768px) {
    right: 4.8rem;
    bottom: 2.4rem;
  }

  @media (min-width: 1280px) {
    right: 6.4rem;
    bottom: 2.4rem;
  }
}

.menu-new-content {
  position: fixed;
  right: 1.6rem;
  bottom: 1.6rem;
  z-index: 10;
}

.menu-new {
  position: fixed;
  right: 1.6rem;
  bottom: 6.8rem;
  z-index: 10;

  @media (min-width: 768px) {
    right: 4.8rem;
    bottom: 7.8rem;
  }

  @media (min-width: 1280px) {
    right: 6.4rem;
    bottom: 7.8rem;
  }
}

.no-menu-exit {
  position: fixed;
  right: 1.6rem;
  bottom: 1.6rem;
  z-index: 10;

  padding: .8rem 1.6rem;

  background-color: #fafafa;
  border-radius: 1.6rem;
  box-shadow: 0 -1px 3px 0 rgba(0,0,0,.12), 0 1px 2px 0 rgba(0,0,0,.24);

  color: hsla(232, 54%, 11%, .6);
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media (min-width: 768px) {
    display: none;
  }
}
