.profile {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.profile-layer-0 {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 0;

  width: 100%;
  min-height: 100vh;
}

.profile-layer-1 {
  width: 100%;

  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 0;
}

.profile-debug {
  color: var(--silver);
  font-size: 1.6rem;
}

.profile-avatar {

  display: grid;

  &__fi {
    width: 8rem;
    height: 8rem;
    margin: 0 auto;

    display: grid;
  }

  &__img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 0;

    width: 100%;
    border-radius: 100%;
  }

  &__delete {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 1;

    justify-self: end;
  }
}

.profile-info {
  width: 100%;

  display: grid;
  justify-content: center;

  &__tip {
    display: flex;
    justify-content: center;

    transform: translateY(1px);
  }

  &__container {
    width: 31rem;

    @media (min-width: 375px) {
      width: 33rem;
    }

    padding: 2.4rem 2.8rem;
    padding-bottom: 0;

    background: var(--white);
    border-radius: .8rem;
  }

  &__field {
    padding-top: 1.6rem;
    padding-bottom: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #C8C8C8;
  }

  &__key {

    display: block;

    color: hsla(232, 54%, 11%, .4);
    font-size: 1.4rem;
    font-weight: 400;
  }

  &__value {
    padding-left: .8rem;

    color: var(--dark);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: right;
  }

  &__cta {
    display: flex;
    justify-content: center;
  }

  &__link {
    background: var(--marine);
    border-radius: .8rem;

    padding: .4rem 1.6rem;

    color: var(--white);
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: .5px;

    transform: translateY(1.4rem);
  }
}

/* .profile {

  &__avatar {
    padding: 0 1.6rem;

    @media (min-width: 768px) {
      padding: 0 4.8rem;
    }

    @media (min-width: 1280px) {
      padding: 0 6.4rem;
    }

    display: flex;
    align-items: center;
  }

  &__label {
    width: 8rem;
    height: 8rem;

    background: var(--silver);
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }


  &__figure {
    width: 8rem;
    height: 8rem;

    display: grid;
  }

  &__img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 0;

    width: 100%;
    border-radius: 100%;
  }

  &__progress {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 1;

    height: 100%;
    background: hsla(232, 54%, 11%, .5);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__delete {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 2;

    justify-self: end;

    width: 2.1rem;
    height: 2.1rem;
    background: var(--white);
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__submit {
    padding: .6rem 1.6rem;

    background: var(--marine);
    border: none;
    border-radius: .8rem;
    outline: none;

    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__score {
    margin-left: 2.4rem;

    span {
      padding: .4rem 1.6rem;

      background: var(--green);
      border-radius: 1.6rem;

      color: var(--dark);
      font-size: 1.3rem;
      font-weight: 500;
      text-align: center;
      letter-spacing: 1px;
    }
  }
}

.profile-input {
  width: 1px;
  height: 1px;
  visibility: hidden;
  position: absolute;
} */
