<h1>CRM Edit</h1>

<h1><%= @user.name %></h1>

<br><br>
<%= f = form_for @changeset, "#",
  id: "profile-form",
  phx_submit: "save" %>

  <%# label f, :name %>
  <%# text_input f, :name %>
  <%# error_tag f, :name %>

  <%= label f, :role %>
  <%= select f, :role, ["customer", "sales", "root"] %>
  <%= error_tag f, :role %>

  <%= submit "Save", phx_disable_with: "Saving..." %>
</form>
