<svg width="7px" height="11px" viewBox="0 0 7 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <polyline stroke="#dddddf" stroke-width="1.5" transform="translate(1.692388, 5.692388) scale(-1, -1) rotate(-315.000000) translate(-1.692388, -5.692388) " points="4.69238816 8.69238816 -1.30761184 8.69238816 -1.30761184 2.69238816"></polyline>
    </g>
</svg>
