<svg width="21px" height="12px" viewBox="0 0 21 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <polyline stroke="#000000" stroke-width="2" transform="translate(10.192388, 1.192388) scale(1, -1) rotate(135.000000) translate(-10.192388, -1.192388) " points="16.6923882 7.69238816 3.69238816 7.69238816 3.69238816 -5.30761184"></polyline>
    </g>
</svg>
