<svg width="27px" height="20px" viewBox="0 0 27 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g transform="translate(1.000000, 1.142136)" stroke="#2EE19C" stroke-width="2">
            <polyline points="0 9.9761271 7.26116364 17 24.7272727 0"></polyline>
        </g>
    </g>
</svg>
