<svg width="17px" height="18px" viewBox="0 0 17 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g transform="translate(1.000000, 1.000000)" stroke="#0D112B" stroke-width="2">
            <polygon points="14.2708703 7.75418456 0 15.5127596 3.55271368e-15 -1.08357767e-13"></polygon>
            <path d="M0,8 L5,8"></path>
        </g>
    </g>
</svg>
