.ww-form {
  grid-column: 2 / 8;
  grid-row: 4 / 5;

  @media (min-width: 399px) {
    grid-column: 3 / 4;
  }

  margin-top: 2rem;

  &__actions {
    width: 100%;
    height: 9rem;

    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;

    display: grid;
    grid-template-columns: 1.6rem auto 15.53rem 1.6rem 1.6rem;

    @media (min-width: 920px) {
      grid-template-columns: 2.4rem auto 85rem auto 2.4rem;
    }
  }

  &__btn {
    grid-column: 3 / 4;

    @media (min-width: 920px) {
      grid-column: 3 / 4;

      display: flex;
      justify-content: flex-end;
    }
  }
}
